@use "../abstracts" as *;

.auth_illustration {
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    display: grid;
    place-items: center;
    position: relative;
}

.auth_illustration_media {
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: absolute;

    img {
        grid-area: 1 / 1;
        z-index: 1;
        width: 100%;
        max-width: 650px;
        object-fit: contain;
        transform: translate(26px, 65px);
    }
}

.auth_illustration_info {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.auth_illustration_title {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: $color-illustration-text;
}

.auth_illustration_subtitle {
    font-size: $font-size-base;
    color: $color-illustration-text-muted;
    margin-bottom: 10px;
}
