@use "../abstracts" as *;

.input_container {
    display: flex;
    align-items: center;
    border: 2px solid $color-field-border;
    border-radius: $radius-md;
    padding: 16px 10px;
    background-color: $color-field-bg;

    svg {
        margin-right: 10px;
    }

    input {
        all: unset;
        width: 100%;
        font-size: $font-size-md;

        &::placeholder {
            color: $color-placeholder;
        }
    }
}
